.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    margin-bottom:25%;
  }
  .product {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .products {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px 0px 580px 0;
    display: flex;
    font-size: large;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .products img {
    width: 300px;
  }
  
  .products .description {
    text-align: center;
  }
  
  .products:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .cartButton {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .cartButton:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }
  